<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>VolumeCalculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet for receiving requests</description>
    <display-name>VolumeCalculatorServlet</display-name>
    <servlet-name>VolumeCalculatorServlet</servlet-name>
    <servlet-class>ru.danilakondr.volumes.web.VolumeCalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolumeCalculatorServlet</servlet-name>
    <url-pattern>/calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VolumeCalcFormServlet</display-name>
    <servlet-name>VolumeCalcFormServlet</servlet-name>
    <servlet-class>ru.danilakondr.volumes.web.VolumeCalcFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolumeCalcFormServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
</web-app>